
@{
    ViewBag.Title = "首页";
}



@section breadcrumb{
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Home">首页</a>
        </li>
        <li class="active">
            概览
        </li>
    </ul>
}
@section pageheader{
    <div class="page-header">
        <h1>
            全局信息
            <small>
                <i class="icon-double-angle-right"></i>
                查看
            </small>
        </h1>
    </div>
}
@section jquery_gritter_css{

}
@section customizeheader{

}





