
@{
    ViewBag.Title = "History";
}
<div>
    <h2>APP更新记录</h2>
    <div class="section-container">
        <section>
            <p class="ver-num">
                <span style="float:left">1.0.0</span>
                <span style="float:right">2017-10-27</span>
            </p>
            <div class="note">
                <p>英雄会APPv3.0震撼发布！</p>
            </div>
        </section>
        <section>
            <p class="ver-num"></p>
            <div class="note">

            </div>
        </section>
    </div>
</div>
