<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <remove key="ConnectionStringEncrypt" />
    <add key="ConnectionStringEncrypt" value="false" />
  </appSettings>
  <connectionStrings>
    <remove name="Winner.Framework.Oracle.ConnectionString" />
    <add name="Winner.Framework.Oracle.ConnectionString" connectionString="Unicode=True;Persist Security Info=True;Data Source=souy70;User ID=yxhv3;Password=yxhv3" />
  </connectionStrings>
</configuration>