<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>


  <log4net>
    <root>
      <level value="All" />
      <!--<appender-ref ref="consoleApp" />-->
      <appender-ref ref="rollingFile" />
      <!--<appender-ref ref="AdoNetAppender_Oracle" />-->
      <!--appender-ref ref="AdoNetAppender" /-->
    </root>

    <appender  name="rollingFile" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="Log/log.config" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="_yyyy-MM-dd" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="[%t] %d %m %-5p %n" />
      </layout>
    </appender>

  </log4net>

</configuration>